@mixin text-default{font-size:14px;color:#222;line-height:1.5;font-weight:400;font-family:'Noto Sans KR',Apple Gothic,Droid Sans,sans-serif}

@mixin text-normal{font-size:14px;line-height:1.5;font-weight:400}

@mixin text-head1{font-size:16px;line-height:1.5;font-weight:700}